.CartWidget {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.CartWidget img {
  height: 30px;
  margin-right: 5px;
}

.CartWidget span {
  font-size: 18px;
  color: white;
}


.cart-widget {
  display: flex;
  align-items: center;
}

.cart-widget img {
  height: 20px;
  margin-right: 5px;
}